<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>ClassName</key>
		<string>FoundationErrors.h</string>
		<key>IsLevel2</key>
		<false/>
	</dict>
	<dict>
		<key>ClassName</key>
		<string>NSArray.h</string>
		<key>IsLevel2</key>
		<true/>
	</dict>
	<dict>
		<key>ClassName</key>
		<string>NSAttributedString.h</string>
		<key>IsLevel2</key>
		<true/>
	</dict>
	<dict>
		<key>ClassName</key>
		<string>NSAutoreleasePool.h</string>
		<key>IsLevel2</key>
		<false/>
	</dict>
	<dict>
		<key>ClassName</key>
		<string>NSBundle.h</string>
		<key>IsLevel2</key>
		<true/>
	</dict>
	<dict>
		<key>ClassName</key>
		<string>NSByteCountFormatter.h</string>
		<key>IsLevel2</key>
		<false/>
	</dict>
	<dict>
		<key>ClassName</key>
		<string>NSByteOrder.h</string>
		<key>IsLevel2</key>
		<false/>
	</dict>
	<dict>
		<key>ClassName</key>
		<string>NSCache.h</string>
		<key>IsLevel2</key>
		<false/>
	</dict>
	<dict>
		<key>ClassName</key>
		<string>NSCalendar.h</string>
		<key>IsLevel2</key>
		<true/>
	</dict>
	<dict>
		<key>ClassName</key>
		<string>NSCharacterSet.h</string>
		<key>IsLevel2</key>
		<false/>
	</dict>
	<dict>
		<key>ClassName</key>
		<string>NSCoder.h</string>
		<key>IsLevel2</key>
		<false/>
	</dict>
	<dict>
		<key>ClassName</key>
		<string>NSComparisonPredicate.h</string>
		<key>IsLevel2</key>
		<false/>
	</dict>
	<dict>
		<key>ClassName</key>
		<string>NSCompoundPredicate.h</string>
		<key>IsLevel2</key>
		<false/>
	</dict>
	<dict>
		<key>ClassName</key>
		<string>NSData.h</string>
		<key>IsLevel2</key>
		<true/>
	</dict>
	<dict>
		<key>ClassName</key>
		<string>NSDate.h</string>
		<key>IsLevel2</key>
		<false/>
	</dict>
	<dict>
		<key>ClassName</key>
		<string>NSDateFormatter.h</string>
		<key>IsLevel2</key>
		<true/>
	</dict>
	<dict>
		<key>ClassName</key>
		<string>NSDecimal.h</string>
		<key>IsLevel2</key>
		<false/>
	</dict>
	<dict>
		<key>ClassName</key>
		<string>NSDecimalNumber.h</string>
		<key>IsLevel2</key>
		<false/>
	</dict>
	<dict>
		<key>ClassName</key>
		<string>NSDictionary.h</string>
		<key>IsLevel2</key>
		<false/>
	</dict>
	<dict>
		<key>ClassName</key>
		<string>NSEnumerator.h</string>
		<key>IsLevel2</key>
		<false/>
	</dict>
</array>
</plist>
